{
	"presets" : ["@babel/preset-env"],
	"plugins": [
		[
		  "module-resolver",
		  {
			"root": ["."],
			"alias": {
			  "@lib": "./lib",
			  "@services": "./services",
			  "@controllers": "./controllers",
			  "@db": "./db"
			}
		  }
		]
	  ]
}